html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  color: #222;
}

h1 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  text-transform: none;
  font-weight: bold;
}

nav ol {
  font-size: 1.125rem;
  list-style-type: none;
  font-weight: bold;
  color: #8f2440;
}

nav a {
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
  font-weight: normal;
}

a {
  list-style-type: none;
  text-decoration: none;
}

blockquote {
  font-size: 1.5rem;
}

p > cite {
  font-style: normal;
}

blockquote > p {
  font-style: italic;
}

blockquote > cite {
  font-size: .8rem;
}

h2 {
  font-size: 1.5rem;
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: none;
  font-style: normal;
  font-variant: normal;
}

section {
  list-style-type: none;
}

ul > li {
  list-style-type: none;
}
